body{
	 background-image: url(../images/pagebg.png); 
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}


.index_bg{
	background-image: url(../images/bg_mid.png);
	height: 306px;
	background-repeat: repeat-x;
	background-position: 0px 38px;
}

.index_logo{
	float: left;
	margin-top: 120px;
}
.index_loginbg{
	float: right;
	width: 357px;
	background-image: url(../images/bg_login.png);
	background-repeat: no-repeat;
	height: 411px;
	margin-right: 80px;
}

.index_mid{
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F63;
}

.login_head{
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	margin-bottom: 55px;
}

.login_mid{
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	color: #000;
	text-decoration: none;
	text-transform: none;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 75px;
}

.login_bottom{
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	text-decoration: none;
}

.login_bottom a{
	text-decoration: none;
	color: #d3d3d3;
	font-weight: bold;
}



.login_bottom a:hover{
	color: #0A0A0B;
}


.txt_box1{
	border-radius: 6px;
	padding: 10px;
	border: 1px solid #b9bbbe;
	width: 250px;
	background-color: #f0f0f0;
}


.inner_logo{
	float: left;
	padding: 15px;
}

.inner_rightmain{
	float: right;
	margin-right: 25px;
	margin-top: 15px;
}

.inner_rightmain a{
	color: #000;
	text-decoration: none;
}

.inner_rightmain a:hover{
	color: #090;
}

.pagehead{
	background-image: url(../images/bg_pagehead1.png);
	height: 41px;
	text-align: right;
	color: #FFF;
	font-size: 21px;
	font-weight: normal;
	padding-right: 15px;
	padding-top: 9px;
	background-color: #FFF;
	background-position: left top;
}

.inner_leftlink_main{
	background-image: url(../images/bg_left.png);
	background-repeat: repeat-y;
	width: 235px;
	height: 950px;
}

.inner_leftlink{
}


.footer{
	background-color: #0c0c0c;
	padding: 10px;
	text-align: center;
	color: #D4D4D4;
}


.mid_tbl{
	border: 1px solid #CCC;
}

.mid_tbl th{
	text-align: left;
	background-color: #d4d4d4;
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 8px;
	padding-left: 3px;
	font-size: 13px;
}

.mid_tbl td{
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 8px;
	padding-left: 3px;
	background-color: #f5f4f4;
}


.form_main{
}

.form_tbl{
	border: 1px solid #E6E6E6;
}

.form_tbl th{
}

.form_tbl td{
	color: #333;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding-top: 4px;
	padding-right: 30px;
	padding-bottom: 4px;
	padding-left: 30px;
}

.form_tbl input{
	border: 1px solid #CCC;
	padding: 4px;
	width:250px;
}


.form_tbl textarea{
	border: 1px solid #CCC;
	padding: 4px;
	width: 250px;
	font-family: Arial, Helvetica, sans-serif;
}

.form_tbl select{
	border: 1px solid #CCC;
	padding: 4px;
	width:260px;
}

.form_tbl input[type="checkbox"]{
width: 15px;
	padding:0px !important;
	border: 0px none #999;
	margin: 0px;
	padding: 0px;
}


.form_tbl input[type="radio"]{
	width: 15px;
	padding:0px !important;
	border: 0px none #999;
	margin: 0px;
	padding: 0px;
}

.tbl_nospace{
}

.tbl_nospace td{
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}

.tbl_nospace input[type="radio"]{
	width: 15px;
	padding:0px !important;
	border: 0px none #999;
	margin: 0px;
	padding: 0px;
	
}
.tbl_nospace input[type="checkbox"]{
width: 15px;
	padding:0px !important;
	border: 0px none #999;
	margin: 0px;
	padding: 0px;
}

.form_tbl input[type="button"]{
	width: auto;
	border: 1px none #000;
	margin: 0px;
	padding: 0px;
	border-radius: 6px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	cursor: pointer;
	background-color: #69862D;
	color: #FFF;
}
.form_tbl input[type="reset"]{
	width: auto;
	border: 1px none #000;
	margin: 0px;
	padding: 0px;
	border-radius: 6px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	cursor: pointer;
	background-color: #69862D;
	color: #FFF;
}
.form_tbl input[type="submit"]{
	width: auto;
	border: 1px none #000;
	margin: 0px;
	padding: 0px;
	border-radius: 6px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	cursor: pointer;
	background-color: #69862D;
	color: #FFF;
}
.scroll_content{
	overflow-y: scroll;
height: 380px;
	padding: 0px;
}
.scroll_content1{
	overflow-y: scroll;
height: 680px;
	padding: 0px;
}
.error{
	color: red;
	font-size: 0.9em;
	font-weight: bold;
	}